html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
}
.el-breadcrumb{
  margin-bottom: 20px;
  font-size: 12px !important;
}
.el-card{
  box-shadow:0 0 5px rgba(141, 140, 140, 0.3) !important;
}
.el-steps{
  margin: 15px 0;
}
.el-step__title{
  font-size: 13px;
}
.ql-editor{
  min-height: 300px;
}